<ion-view view-title="Signos y síntomas del cáncer infantil">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
                RECOMENDACIONES DE ESTILOS DE VIDA SALUDABLES
            </div>
            <div class="item item-text-wrap text-justify">
                Para llegar a tener un estilo de vida saludable, a continuación presentamos estos sencillos hábitos debemos seguir: PRIMER HÁBITO: ALIMENTACIÓN SANA Y BALANCEADA.  Consume regularmente alimentos con baja densidad energética*, bajo contenido de grasa animal y sales, además de procurar llevar una dieta balanceada (Si comes comida rápida procura ensaladas preferentemente). 
                <br><br>
                Los alimentos de baja densidad energética son los que aportan menos de 0.6 calorías por gramo. Se pueden consumir en cantidades importantes y no estarás ingiriendo demasiadas calorías. Los principales alimentos de baja densidad energética son las frutas y vegetales. Intenta consumir la mayor cantidad posible de vegetales verdes. 
            </div>
            <div class="item item-divider item-text-wrap">
                SEGUNDO HÁBITO: ACTIVIDAD FÍSICA
            </div>
            <div class="item item-text-wrap text-justify">
                Debemos fomentar la Actividad Física, lo más recomendable es realizar ejercicio al menos 30 minutos 4 ó 5 veces a la semana. Al hacer ejercicio mejoramos la oxigenación, la circulación y los músculos de nuestro cuerpo. Existe una relación causal directa entre obesidad y cáncer. Las personas con sobrepeso tienen hasta 30 veces más riesgo de padecer cáncer que los individuos con buena condición física. 
            </div>
            <div class="item item-divider item-text-wrap">
                TERCER HÁBITO: ESQUEMA DE VACUNACIÓN AL CORRIENTE
            </div>
            <div class="item item-text-wrap text-justify">
                Crear una conciencia de vacunación es muy importante, si fomentamos una cultura preventiva de vacunación podemos combatir enfermedades de alto riesgo. “Vacunar es prevenir”. La protección contra hepatitis previene cáncer de hígado, la protección contra VPH previene cáncer cervico-uterino. 
            </div>
            <div class="item item-divider item-text-wrap">
                CUARTO HÁBITO: EVITAR FUMAR
            </div>
            <div class="item item-text-wrap text-justify">
                El tabaco es la principal causa de cáncer de pulmón, el principal asesino de mexicanos. Además, el cigarro incrementa el riesgo de cáncer de boca y lengua, esófago, estómago, mama, páncreas, colon y vejiga, entre otros. Los fumadores pasivos adquieren los mismos riesgos que los consumidores actuales. Mantente alejado de los fumadores. Si fumas, hazlo en lugares abiertos y siempre lejos de mujeres embarazadas y niños. 
            </div>
            <div class="item item-divider item-text-wrap">
                QUINTO HÁBITO: MODERAR EL CONSUMO DE BEBIDAS ALCOHÓLICAS.
            </div>
            <div class="item item-text-wrap text-justify">
                Si consumimos bebidas alcohólicas fomentar un consumo responsable, que no represente un riesgo para nuestra salud. La cirrosis es causa de cáncer de hígado, además de múltiples problemas graves. 
            </div>
            <div class="item item-divider item-text-wrap">
                SEXTO HÁBITO: DI NO A LA DROGAS.
            </div>
            <div class="item item-text-wrap text-justify">
                Hay que evitar el consumo de drogas y reducir el uso de medicamentos no prescritos. 
            </div>
            <div class="item item-divider item-text-wrap">
                SÉPTIMO HÁBITO: SALUD SEXUAL.
            </div>
            <div class="item item-text-wrap text-justify">
                Lleva una vida sexual con responsabilidad. Las enfermedades de transmisión sexual como el papiloma y el VIH/SIDA, son también factores de riesgo para cáncer. 
            </div>
            <div class="item item-divider item-text-wrap">
                OCTAVO: PIENSA SALUDABLE
            </div>
            <div class="item item-text-wrap text-justify">
                Los factores psicosociales como la familia, el trabajo o la escuela, son de vital importancia para desarrollarnos saludablemente. La salud no es solo física; cultiva tu paz espiritual y manten armonía en tu vida.  
            </div>
            <div class="item item-divider item-text-wrap">
                NOVENO HÁBITO: NO AUTOMEDICARNOS.
            </div>
            <div class="item item-text-wrap text-justify">
                Ante la presencia de algún signo o síntoma de sospecha de cáncer, es muy importante evitar automedicarse. Acude a tu médico. 
            </div>
        </div>   
    </ion-content>
</ion-view>
