<ion-view view-title="Directorio de unidades acreditadas">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar..." ng-model="buscar_uma">
        </label>
    </div>     
    <ion-content class="has-subheader">
        <div class="list">
            <div ng-repeat="umas in umas | filter: buscar_uma">
                <a class="item item-icon-right" href="#/app/directorioUMA/{{umas.directorio_id}}">
                    <h2>{{umas.directorio_nombre}}</h2>
                    <p>{{umas.directorio_telefono}}</p>
                    <p>{{umas.directorio_email}}</p>
                    <p>{{umas.estado_nombre}}</p>
                    <p>{{umas.directorio_direccion}}</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>   
    </ion-content>
</ion-view>
