<ion-view view-title="Unidades médicas acreditadas.">
    <ion-content>
        <div class="card">
            <div class="item item-divider item-text-wrap">
            {{uma.directorio_nombre}}
            </div>     
        </div>
        <div class="card">
            <div class="item item-divider item-text-wrap">Telefono & Email & Sitio web</div>
            <div class="item item-text-wrap text-justify">
                {{uma.directorio_telefono}}
            </div>
            <div class="item item-text-wrap text-justify">
                {{uma.directorio_email}}
            </div>
            <div class="item item-divider item-text-wrap">Estado</div>
            <div class="item item-text-wrap text-justify">
                {{uma.estado_nombre}}
            </div>
            <div class="item item-divider item-text-wrap">Dirección</div>
            <div class="item item-text-wrap text-justify">
                {{uma.directorio_direccion}}
            </div>
            <div class="item item-divider item-text-wrap">Tipo de acreaditación</div>
            <div class="item item-text-wrap text-justify">
                {{uma.directorio_acreditaciones}}
            </div>
        </div>
    </ion-content>
</ion-view>
