<ion-view view-title="Directorio OSC">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar..." ng-model="buscar_osc">
        </label>
    </div>     
    <ion-content class="has-subheader">
        <div class="list">
            <div ng-repeat="osc in osc | filter: buscar_osc">
                <a class="item item-icon-right" href="#/app/directorioOSC/{{osc.osc_id}}">
                    <h2>{{osc.osc_organizacion}}</h2>
                    <p>{{osc.osc_telefono}}</p>
                    <p>{{osc.estado_nombre}}</p>
                    <p>{{osc.osc_direccion}}</p>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>   
    </ion-content>
</ion-view>
