<ion-view view-title="Medidas preventivas">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-justify">
                Vacúnate contra hepatitis B a partir de los 12 años y Virus del Papiloma Humano (VPH) a partir de los 11 años.
            </div>
            <div class="item item-text-wrap text-justify">
                Haz ejercicio, mínimo 30 minutos al día, 5 veces a la semana.
            </div>
            <div class="item item-text-wrap text-justify">
                No fumar ni tomar bebidas alcohólicas
            </div>
            <div class="item item-text-wrap text-justify">
                Aliméntate sanamente, consume frutas y verduras ricas en antioxidantes como brócoli, tomates, papaya, fresas, etcétera, y evita suplementos de azúcar, consumo excesivo de carnes rojas y alimentos con grasas saturadas. 
            </div>
            <div class="item item-text-wrap text-justify">
                No te expongas al sol por tiempo prolongado sin protección
            </div>
            <div class="item item-text-wrap text-justify">
                Evitar la exposición a sustancias fosforadas e insecticidas. ✓ Si tienes sexo, que sea con protección. 
            </div>
        </div>
    </ion-content>
</ion-view>
