/* Empty. Add your own CSS if you like */
@font-face{font-family:"tcc";src:url("EsmeraldaPro.otf");}
.text-center{
    text-align: center!important;
}
.text-login{
    font-weight: 200;
    font-size: 12px;
    color: black;
}
.img-inicio{
    text-align: center;
    margin-top: 50px;
    width: 200px;

}
.background-imss{
    background: #256659!important;
    color: white!important;
    margin-top: 0px!important;
}
.color-imss{
    color: #256659!important;
}
.border-left{
    border-left: 1px solid white;
}
.border-right{
    border-right: 1px solid white;
}
.back-transparent{
    background: transparent!important;
}
.input-login{ 
    font-family: tcc;
    background: transparent;; 
    padding-left: 7px;
    border-left: 1px;
    border-top: 1px;
    border-right: 1px;
    padding-right: 7px;
    color: white!important;
}
.input-login ::-webkit-input-placeholder {
   color: #F0A224!important;  
   font-family: inherit;
   font-family: tcc!important;
}
.color-white{
    color: white!important;
}

.black{
    color: black!important;
}
.btn-login-accesar{
    font-family: tcc;
    width: 93%;
    height: 30px!important;
    color: white;
    padding-bottom: 5px;
    border: transparent;
    background: #FFCA28!important;
}
.font-tcc{
    font-family: tcc;
}
.title-menu-left{
    width: 100%;
    position: absolute;
    height: 40px;
    left: 0px;
    top: 50px;
    padding: 10px;
    color: white;
    text-align: center;
    font-family: tcc;
    background: rgba(54, 25, 25, .5); 
}
.content-menu-ctt{
    background: white!important;
}
.no-border-menu{
        border: 1px solid transparent;
}
.hidden{
    display: none!important;
}
.text-justify{
    text-align: justify;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.container-inicio{
    width: 100%;
    margin-top: 20px; 
    /*border: 7px solid white;*/
}
.color-tcc{
    
    color: #F0A224!important;
}
.back-tcc{
    background: #F0A224!important;
}
.circulo-logo{
    width: 120px;
    height: 120px;
    background: white;  
    border-radius: 100px;
    margin: auto;
    border:3px solid white;
}
.circulo-logo img{
    width: 75px;
    margin: auto;
    border-radius: 100px;
}
.btn-login{
    float: none;
    color: white!important;
    margin-top: -25px!important;
}
.background-tcc{
    background: #FFCA28!important;
    color: white!important;
}
.text-register{
    font-family: tcc;
    font-size: 20px;
    text-align: center!important;
}
.input-back{
    color: #F0A224!important;
    border-bottom: 1px solid #F0A224!important;
}
