<ion-view style="background-image: url(img/background.jpg);background-position: center;background-size: cover">
    <ion-content >
        <div class="padding">
            <h6 class="text-center text-login" style="color: white">
                &copy; Derechos reservados 2016 | Desarrollado por bienTICS
            </h6>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="background-imss">
        <button class="button button-clear button-block background-imss" ng-click="modal.show()">Ingresar</button>
    </ion-footer-bar>
</ion-view>