<ion-view style="background-image: url(img/fondotcc.jpg);background-position: center;background-size: cover" >
    <ion-content >
        <div class="padding">
            <div class="row">
                <div class="" >  
                    <img src="img/logo_todos.png" style="width: 100%;margin-left: -20px">
                </div>
            </div>
            <form class="form-login" style="margin-top: -40px;margin-left: 20px;margin-right: 20px">
                <div style="">
                    <div class="list list-inset form-input-login" style="background: transparent;margin-top: -10px;padding: 20px">
                        <label class="item item-input input-login">
                            <i class="icon ion-ios-person-outline color-tcc"></i>
                            <input type="text" placeholder="Usuario" class="font-tcc input-back txt-user black" required="">
                        </label>
                        <label class="item item-input input-login" style="margin-top: 10px">
                            <i class="icon ion-ios-unlocked-outline placeholder-icon color-tcc"></i>
                            <input type="password" placeholder="Contraseña" class="font-tcc input-back txt-pass black" required="">
                        </label>
                    </div>
                    <div class="row" style="padding: 27px;margin-top: -60px">
                        <button type="submit" ui-sref="app.principalPublico" class="button button-block btn-login-accesar back-tcc ">Ingresar</button>
                    </div>
                    <div class="color-tcc font-tcc " style="padding: 27px;margin-top: -50px;text-align: center!important">
                        Olvide mi  contraseña?
                    </div>
                    <div class="row"  style="padding: 27px;">
                        <div class="col col-99">
                            <a ui-sref="auth.registro" class="font-tcc color-tcc " style="text-decoration: none">Nuevo usuario?</a>
                            <a href="" ng-click="loginFacebook()" hidden="">
                                <img src="img/login/i-facebook.png" style="width: 140px;height: 30px">
                            </a>
                            <a href="" ng-click="googleSignIn()" hidden="">
                                <img src="img/login/i-google.png" style="width: 140px;height: 30px">
                            </a>
                        </div>
                    </div>
                </div>
            </form>             
        </div>
    </ion-content>

</ion-view>