<ion-side-menus enable-menu-with-back-views="false" cache-view="false">
    <ion-side-menu-content class="post-size-14px ">
        <ion-nav-bar class="bar app-top-bar ">
            <ion-nav-back-button style="background: transparent!important;color: transparent!important">B</ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right" class="hidden">
                <button class="hidden button button-icon button-clear ion-android-more-vertical" menu-toggle="right"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
    <ion-side-menu side="left" expose-aside-when="large" class="no-boder-menu">
        <ion-content class="content-menu-ctt no-boder-menu">
            <div class="list menu-content-vpm " >
                <a class="item item-icon-left no-boder-menu font-vpm" style="background: url(img/background.jpg);background-size: cover;height: 150px;background-position: center">
                    <div class="title-menu-left">
                        TODOS vs Cáncer infantil
                    </div>
                </a> 
                <a class="item item-icon-left no-border-menu font-tcc" ui-sref="app.directoriouc">
                    <i class="icon ion-ios-bookmarks-outline font-tcc"></i>Directorio UMA
                </a> 
                <a class="item item-icon-left no-border-menu font-tcc" ui-sref="app.directorioosc">
                    <i class="icon ion-ios-bookmarks-outline font-tcc"></i>Directorio OSC
                </a> 
                <a class="item item-icon-left no-border-menu font-tcc" ng-controller="CerrarSesion" ng-click="CerrarSesion()">
                    <i class="icon ion-ios-locked-outline font-tcc"></i>Cerrar sesión
                </a> 
                <a class="item item-icon-left no-border-menu font-tcc">
                    <i class="icon ion-log-out font-tcc"></i>Salir
                </a> 
            </div>
        </ion-content>
    </ion-side-menu> 
</ion-side-menus>