<ion-view view-title="TODOS vs Cáncer infantil." >
    <ion-content>
        <div class="card" ui-sref="app.queeselCancer">
            <div class="item item-text-wrap">¿Qué es el cancer?</div>
        </div>
        <div class="card" ui-sref="app.frecuenciadelcancer">
            <div class="item item-text-wrap">¿Qué tan frecuente es el cáncer infantil?</div>
        </div>
        <div class="card" ui-sref="app.tiposdeCancer">
            <div class="item item-text-wrap">¿Cuáles son los principales tipos de cáncer infantil</div>
        </div>
        <div class="card" ui-sref="app.signoysintomasdelcancer">
            <div class="item item-text-wrap">Signos y síntomas del cáncer infantil</div>
        </div>
        <div class="card" ui-sref="app.medidaspreventivas">
            <div class="item item-text-wrap">Medida preventivas</div>
        </div>
        <div class="card" ui-sref="app.situamigotienecancer">
            <div class="item item-text-wrap">Si tu amigo tiene cáncer</div>
        </div>
        <div class="card" ui-sref="app.diccionario">
            <div class="item item-text-wrap">Diccionario</div>
        </div>
        <div class="card" ui-sref="app.reddeapoyo">
            <div class="item item-text-wrap">Red de apoyo</div>
        </div>
        <div class="card" ui-sref="app.directoriouc">
            <div class="item item-text-wrap">Directorio de unidades acreditadas</div>
        </div>
        <div class="card" ui-sref="app.directorioosc">
            <div class="item item-text-wrap">Directorio OSC</div>
        </div>
        <div class="card" ui-sref="app.padredefamiliaRecomendaciones">
            <div class="item item-text-wrap">Recomendaciones</div>
        </div>
        <div class="card" ui-sref="app.padredefamiliaJuegos">
            <div class="item item-text-wrap">Juegos</div>
        </div>
        <div class="card" ui-sref="app.padredefamiliaTest">
            <div class="item item-text-wrap">Test</div>
        </div>
        <div class="card" ui-sref="app.padredefamiliaBlog">
            <div class="item item-text-wrap">Blog</div>
        </div>
    </ion-content>
</ion-view>
