<ion-view view-title="Tipos de Cáncer" >
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">Leucemia</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Linfoma</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Tumores del sistema nervioso central</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Tumores germinales</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Tumores óseos</div>
        </div>
        <div class="card" ui-sref="app.tiposdeCancerSarcoma">
            <div class="item item-text-wrap">Sarcomas de partes blandas</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Diccionario</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Retinoblastoma</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Tumor de wilms</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Neuroblastoma</div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">Tumores de higado</div>
        </div>
    </ion-content>
</ion-view>
