<ion-view view-title="Linfoma">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-justify">
               Los linfomas son cánceres de las células  linfoides (células de defensa, producidos en la médula ósea y alojados en los ganglios linfáticos), por lo tanto pueden aparecer en cualquier parte del cuerpo; cualquiera de los ganglios linfáticos periféricos (cuello, axilas, tórax, abdomen e ingles) o en órganos (bazo, timo, amígdala, intestino). Su diagnóstico se hace con biopsia (glosario). 
               <br><br>
               Los linfomas pueden dividirse en: Linfomas Hodgkin y no Hodgkin. PODER APRETAR EL LINFOMA HODKING Y NO HODKING Y QUE APAREZCA LA DESCRIPCIÓN DE CADA UNO.  
               <br><br>
               Linfoma Hodgkin afecta ganglios periféricos y suele manifestarse con aumento de tamaño y consistencia del ganglio linfático. Es más frecuente a partir de los 10 años. 
               <br><br>
               Linfoma no Hodgkin suele ocurrir más en los órganos linfoides (timo, amígdala, intestino), en general afecta  niños más pequeños y su localización más frecuente es el abdomen.
            </div>
        </div>
    </ion-content>
</ion-view>
