<ion-view view-title="Leucemia">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-justify">
                Es la forma de cáncer más frecuente en niños, uno de cada dos niños con cáncer tiene leucemia. Es una enfermedad de la sangre producida por la multiplicación incontrolada de células inmaduras llamadas “blastos”, que se encuentran en la médula ósea. 
                <br><br>
                El exceso de blastos en la médula ósea desplaza a las células normales fuera de ella. Al disminuir los glóbulos rojos (transportadores de oxígeno), se produce anemia, mientras que el descenso del número de plaquetas conlleva a mala coagulación de la sangre. 
                <br><br>
                Las células blásticas se encuentran normalmente en la médula ósea, por lo que el diagnóstico de leucemia conlleva imprescindiblemente la realización de una punción de médula ósea. 
                <br><br>
                La leucemia no es una sola enfermedad, sino que podemos encontrar: 
            </div>
            <div class="item item-text-wrap item-divider">Leucemia Linfoblástica Aguda (L.L.A)</div>
            <div class="item item-text-wrap text-justify">
                Es la más común en niños entre 2 y 8 años, aunque aparece también en otras edades. 
            </div>
            <div class="item item-text-wrap item-divider">Leucemia Mieloide Aguda</div>
            <div class="item item-text-wrap text-justify">
                Normalmente en adultos aunque también puede ocurrir durante la infancia o adolescencia.
            </div>
            <div class="item item-text-wrap item-divider">Leucemia Mieloide Crónica</div>
            <div class="item item-text-wrap text-justify">
                Poco frecuente en pediatría. 
            </div>
        </div>
    </ion-content>
</ion-view>
