<ion-view view-title="Sarcomas de partes blandas">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap item-divider">Sarcomas</div>
            <div class="item item-text-wrap text-justify">
                Son tumores malignos que provienen de los tejidos que nos permiten pararnos, caminar y movernos, como hueso, cartílago, articulaciones, grasa, vasos sanguíneos (tuberías de sangre), nervios, etc.
            </div>
            <div class="item item-text-wrap item-divider">Sarcomas óseas(huesos)</div>
            <div class="item item-text-wrap text-justify">
                Ocurren principalmente en adolescentes durante periodos de crecimiento activo (estiramiento). La ubicación más frecuente es alrededor de la rodilla. Puedes distinguirlos por crecimiento del hueso cerca de la rodilla que duele y no se quita con medicina. La piel encima del tumor puede ser roja. El diagnóstico requiere de TAC o RMN y se confirma mediante biopsia.
            </div>
            <div class="item item-text-wrap item-divider">Sarcomas de partes blandas</div>
            <div class="item item-text-wrap text-justify">
                Son tumores malignos que ocurren en músculos y sus empaques, grasa, nervios, articulaciones, vasos sanguíneos, etc. Pueden ocurrir en cualquier parte del cuerpo y a cualquier edad. El más frecuente es uno llamado rabdomiosarcoma (tumor de células musculares). El diagnóstico definitivo se realiza mediante biopsia.
            </div>
        </div>
    </ion-content>
</ion-view>
