<ion-view view-title="Tumores germinales">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-justify">
                 Más del 90% de los tumores cancerosos de testículo se presentan en células especiales llamadas células germinales, las cuales producen los espermatozoides. Los dos tipos principales de tumores de las células germinales en los hombres son:
                 <br><br>
                 Seminomas No seminomas, los cuales están compuestos por el carcinoma embrionario, el carcinoma del saco vitelino, el coriocarcinoma y/o el teratoma Los doctores pueden indicar qué tipo de cáncer testicular usted padece al examinar los tejidos con un microscopio. 
                 <br><br>
                 Estos dos tipos ocurren aproximadamente en un número similar de veces. Muchos cánceres de testículo contienen células no seminomas y células seminomas. Estos tumores con células germinales mixtas se tratan como no seminomas debido a que crecen y se propagan como tales.
            </div>
        </div>
    </ion-content>
</ion-view>
