<ion-view view-title="Tumor de wilms">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-justify">
                Es el tumor maligno más frecuente de los riñones en niños pequeños. En ocasiones, puede ser bilateral (afectar ambos riñones). Los síntomas más frecuentes son el aumento del tamaño o dolor abdominal o la palpación del tumor, presión arterial alta y en ocasiones sangre en la orina. Se diagnostica por ecografía o TAC abdominal y el diagnóstico de certeza se realiza en la intervención quirúrgica.
            </div>
        </div>
    </ion-content>
</ion-view>
