<ion-view view-title="Tumores del sistema nervioso central">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-justify">
               Los tumores cerebrales son clasificados según el tipo de tejido en el que se desarrollan (astrocitomas, meduloblastomas, ependinomas, tumores germinales, etc.). Son los tumores sólidos más frecuentes de la infancia (20-25%) y normalmente aparecen entre los 5 – 10 años, aunque se puede ver a cualquier edad. 
               <br><br>
               Los síntomas más habituales son: cefalea (dolor de cabez), vómito, convulsiones, cambios de carácter, alteraciones de los sentidos como vista, equilibrio, oído. 
               <br><br>
               El diagnóstico puede ser difícil puesto que los síntomas también suelen corresponder a otros procesos benignos. El diagnóstico se realiza mediante estudios sofisticados de rayos X como: TAC (Tomografía Axial Computarizada) o RNM (Resonancia Magnética Nuclear) cerebrales.
            </div>
        </div>
    </ion-content>
</ion-view>
