<ion-view view-title="Retinoblastoma">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap text-justify">
                Es el cáncer de la retina (capa dentro del ojo que capta luz e imágenes) en el ojo. Puede ser hereditario en un tercio (10%?) de los casos. Suele darse en niños muy pequeños y el diagnóstico se sospecha al ver un reflejo blanco en el fondo de ojo al tomar una fotografía con flash. El tratamiento dependerá de las características del tumor, pero siempre se intenta salvar al ojo dañado.
            </div>
        </div>
    </ion-content>
</ion-view>
